.contents > :first-child {
  margin-top: 0;
}

.contents h1 {
  font-size: var(--chakra-fontSizes-2xl);
  font-weight: 500;
  margin: var(--chakra-space-16) 0;
}

.contents h2 {
  font-size: var(--chakra-fontSizes-xl);
  font-weight: 500;
  margin: var(--chakra-space-16) 0;
}

.contents h3 {
  font-size: var(--chakra-fontSizes-lg);
  font-weight: 500;
  margin: var(--chakra-space-12) 0;
}

.contents h4 {
  font-size: var(--chakra-fontSizes-md);
  font-weight: 700;
  margin: var(--chakra-space-8) 0;
}

.contents h5 {
  font-size: var(--chakra-fontSizes-sm);
  font-weight: 700;
  margin: var(--chakra-space-6) 0;
}

.contents p {
  margin: var(--chakra-space-4) 0;
  font-size: var(--chakra-fontSizes-md);
}

.contents p a {
  color: var(--chakra-colors-blue-500);
  text-decoration: underline;
}

.contents p a:visited {
  color: var(--chakra-colors-purple-500);
}

.contents ul,
.contents ol {
  padding-left: 1.5em;
}

.contents > ul,
.contents > ol {
  margin: var(--chakra-space-4) 0;
}

.contents li {
  margin: var(--chakra-space-2) 0;
}

.contents blockquote {
  padding: 0.2em 0 0.2em 1em;
  border-left: 4px solid var(--chakra-colors-gray-300);
}

.contents iframe[src*="youtube.com"] {
  aspect-ratio: 16 / 9;
  width: 100%;
  height: auto;
}
